.search-character {
  display: flex;
  flex-direction: column;
  max-width: 50rem;
  padding: 6rem;
  margin: 0 auto;


  header {
    h1 {
      span {
        color: #FF0000;
      }

      font-weight: 700;
      color: #282828;
      font-size: 2.5rem;
    }
  }

  form {
    margin-top: 1rem;
    position: relative;

    input {
      width: 85%;
      font-size: 1rem;
      padding: 1rem 1rem;
      background-color: rgb(255, 255, 255);
      border-radius: 0.5rem 0 0 0.5rem;
      box-shadow: 0.1rem 0.5rem 1rem rgba(0, 0, 0, 0.1);
      border: 0px;
      outline: none;

    }

    button {
      font-size: 1rem;
      padding: 1rem 1rem;
      border: 0px;
      position: absolute;
      border-radius: 0 0.5rem 0.5rem 0rem;
      cursor: pointer;

      color: #FFFFFF;
      background-color: #FF0000;
      transition: background-color 200ms;
    }

    button:hover {
      background-color: #dc3737;
    }
  }

  section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem 4rem;

    .container-result {
      margin-top: 3rem;

      img {
        border-radius: 0.5rem;
      }

      text-align: center;

      button {
        background-color: #FF0000;
        border: 0;
        padding: 0.5rem;
        border-radius: 0.5rem;
        margin-top: 1rem;

        a {
          text-decoration: none;
          color: #FFFFFF;
          font-size: 1rem;
        }

        transition: background-color 200ms;
      }

      button:hover {
        background-color: #dc3737;
      }
    }
  }
}